certifi==2020.12.5
chardet==4.0.0
idna==2.10
requests==2.25.1
urllib3==1.26.2
arrow==0.17.0
cffi==1.14.4
gevent==1.5.0
greenlet==1.0.0
iso8601==0.1.13
leancloud==2.9.0
pycparser==2.20
python-dateutil==2.8.1
qiniu==7.2.2
secure-cookie==0.1.0
six==1.15.0
Werkzeug==1.0.1
beautifulsoup4==4.9.3
soupsieve==2.2